*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}
input{
    border: 1px solid #9f9d9d;
    padding: 2px 0px 2px 2px;
   
}
*[id="button_register2"]{
    margin-top: 20px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid gray;
    transition: all 0.5s ease;
    background: rgba(134, 134, 134, 0.849) ;
}
*[id="button_register2"]:hover{
    color: white;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.938);
    transition: all 0.5s ease;
}
*[id="button_register"]{
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 100%;
}
*[id="button_register"]:hover{
    color: white;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.938);
    transition: all 0.5s ease;
}
.botonRegistro{
    color: black;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: white;
    cursor: pointer;
    width: 120px;
    margin: 5px;
    height: 39px;
    border-radius: 5px;
    font-size: 19px;
}
.botonRegistro:hover{
    color: white;
    border: 1px solid black;
    background: chocolate;
    transition: all 0.5s ease;
}


/*------------------------- MENU ---------------------  */
.menu{
    background-color: rgba(209, 209, 209, 0.397);
    /* border: 1px solid black; */

}
.barra{
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
}


h1{
    text-align: center;
    margin-top: 20px;
}

/*-------------------------- FORMULARIO ----------------------*/
.fondo{
    background-image: url(../image/fondo-inventario.jpg);
    height: 720px;
}
.tituloRegistro{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.formulario{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 305px;
    height: 420px;
    border-radius: 7px;
    border: 1px solid;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.8);
}

.formulario form div{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.formulario form div input{
    width: 99%;
    border-radius: 5px;
}
.formulario form div label{
    width: 100%;
    font-size: 12px;
}
.formulario form button{
    padding: 5px 15px 5px 15px;
}
.boton{
    text-align: center;
    margin-top: 20px;
}
.campoUsuario:valid{
    background: rgb(200, 230, 200);
}
.campoUsuario:invalid{
    background: rgb(245, 130, 130);
}




