*{
    padding: 0;
    margin: 0;
}
*[id="button_register2"]{
    margin-top: 20px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid gray;
    transition: all 0.5s ease;
    background: rgba(134, 134, 134, 0.849) ;
}
*[id="button_register2"]:hover{
    color: white;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.938);
    transition: all 0.5s ease;
}
*[id="button_register"]{
    color: black;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 100%;
}
*[id="button_register"]:hover{
    color: white;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.938);
    transition: all 0.5s ease;
}

/*------------------------- MENU ---------------------  */
.menu{
    background-color: rgba(209, 209, 209, 0.397);
    /* border: 1px solid black; */

}
.barra{
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.barra a{
    cursor: pointer;
    background-color: cadetblue;
    color: black;
    /* border: 1px solid black; */
    width: 150px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.barra a:hover{
    background-color: black;
    color: white;
    border-radius: 7px;
}

h1{
    text-align: center;
    margin-top: 20px;
}

/*-------------------------- FORMULARIO ----------------------*/
.tituloRegistro{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.formulario{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 305px;
    height: 100%;
    border-radius: 7px;
    border: 1px solid;
    padding: 10px;
}

.formulario form div{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.formulario form div input{
    width: 100%;
}
.formulario form div label{
    width: 100%;
}
.formulario form button{
    padding: 5px 15px 5px 15px;
}
.boton{
    text-align: center;
}
.boton button{
    margin-top: 20px;
    
}




